$color-primary-black: #000000;
$color-primary-neutral: #404040;
$color-primary-white: #ffffff;

$color-zinc-100: #f4f4f5;
$color-zinc-200: #e4e4e7;
$color-zinc-300: #d4d4d8;
$color-zinc-500: #71717a;
$color-zinc-800: #27272a;

$color-error: #ef4444;

$font-primary: "Sora", sans-serif;
