@use "../abstracts/" as *;

.site-header {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: subgrid;
  padding: 1rem 0;
  background-color: $color-primary-white;
  transition: all ease-in 0.3s;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 50%;
    background-color: #ffff;
    bottom: 0;
    transition: all ease-in-out 0.3s;
  }

  &.sticky {
    grid-template-columns:
      minmax(6rem, 1fr) repeat(8, minmax(min-content, 14.25rem))
      minmax(6rem, 1fr);
    background: rgb($color-primary-white, 0.9);
    backdrop-filter: blur(1.5px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    &::after {
      // content: "";
      // position: absolute;
      width: 100%;
      left: 0;
      background-color: $color-primary-black;
    }

    .site-header__container {
      grid-column: 2 / -2;
    }

    @include respond(tablet-md) {
      grid-template-columns:
        minmax(2rem, 1fr) repeat(8, minmax(min-content, 14.25rem))
        minmax(2rem, 1fr);
    }
  }

  &__container {
    grid-column: center-start / center-end;
    display: flex;
    align-items: center;
  }

  &__main-nav {
    @include respond(tablet-md) {
      align-self: stretch;
    }

    ul {
      display: flex;
      gap: 2.5rem;

      @include respond(tablet-md) {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
      }
    }

    li {
      list-style: none;
    }

    .menu-link {
      font-weight: 600;
      color: $color-primary-black;
      text-decoration: none;
      transition: color 0.3s;
      &.active {
        color: $color-zinc-500;
      }

      &:hover {
        color: $color-zinc-500;
      }

      @include respond(tablet-md) {
        font-size: 2.5rem;
      }

      @include respond(tablet-md) {
        padding: 1rem 0;
        display: block;
      }
    }
  }

  &__btn {
    @include respond(tablet-md) {
      font-size: 2.5rem;
    }
  }

  &__menu-trigger {
    font-size: 2rem;
    visibility: hidden;
    z-index: 100;

    @include respond(tablet-md) {
      visibility: visible;
      font-size: 3.5rem;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 3.4rem;
    transition:
      opacity 0.3s ease-out,
      visibility 0.3s ease-out,
      transform 0.3s ease-out;

    @include respond(tablet-md) {
      visibility: hidden;
      background: rgb($color-primary-white, 0.9);
      backdrop-filter: blur(1.5px);
      -webkit-backdrop-filter: blur(1.5px);
      position: absolute;
      transform: translateY(-10%);
      top: 0;
      right: 0;
      left: 0;
      padding: 6rem 0 6rem 0;

      flex-direction: column;
      align-items: center;
      opacity: 0;

      box-shadow: 0 4px 5px rgba(#0000, 0.1);
    }

    &--active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      z-index: 10;
    }
  }
}
