@use "../abstracts/" as *;

.btn {
  background-color: $color-primary-black;
  border: none;
  outline: 2px solid $color-primary-black;
  border-radius: 3px;
  color: $color-primary-white;
  padding: 0.8rem 1rem;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $color-primary-neutral;
  }

  &:active {
    background-color: $color-primary-white;
    color: $color-primary-black;
  }

  &:active > &__link {
    color: $color-primary-black;
  }

  &:active > &-icon,
  &svg,
  &path {
    fill: $color-primary-black;
  }

  &__link {
    text-decoration: none;
    color: $color-primary-white;
    display: inline-block;
    margin-right: 4px;
  }

  &-icon {
    height: 2rem;
    width: 2rem;
    display: inline-block;
    fill: $color-primary-white;
  }
  // &svg,
  // &path {
  //   fill: $color-primary-white;
  // }
}
