@use "../abstracts/" as *;

.icon-link {
  display: block;
}

.link {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  transition: color 0.2s;

  &:hover {
    color: $color-zinc-300;
  }
}
