@use "../abstracts/" as *;
.skill-card {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid $color-primary-black;
    border-radius: 4px;
    min-width: 100%;
    min-height: 18rem;
    padding: 2rem;
    gap: 1.5rem;
    transition: all 0.2s;

    & svg,
    & path {
      width: 5.6rem;
      height: 5.6rem;
      fill: $color-primary-black;
    }

    &:hover {
      background-color: $color-primary-black;
    }

    &:hover svg > path {
      fill: $color-primary-white;
    }

    &:hover h5 {
      color: $color-primary-white;
    }
  }
}
