@use "../abstracts/" as *;

.section-hero {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  place-items: center;
  min-height: 85vh;

  @include respond(mobile-lc) {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  &__content-box {
    flex: 1;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: flex-end;

    @include respond(mobile-lc) {
      order: 2;
    }
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include respond(mobile-lc) {
      align-items: center;
      text-align: center;
    }
  }

  &__about-txt {
    @include respond(mobile-lc) {
      text-align: center;
    }
  }

  &__icon-box {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    @include respond(mobile-lc) {
      justify-content: center;
    }
  }

  &__image-box {
    display: flex;
    flex: 1;
    flex-direction: column;

    @include respond(mobile-lc) {
      order: 1;
    }
  }

  &__image {
    max-width: 100%;
    height: auto;
    display: block;

    @include respond(laptop) {
      height: 100%;
    }

    @include respond(mobile-lc) {
      height: auto;
      align-self: center;
      max-width: 80%;
    }

    @include respond(mobile-pt) {
      max-width: 100%;
    }

    @include respond(mobile-sm) {
      max-width: 100%;
    }
  }
}

.section-skills {
  grid-column: center-start / center-end;
  padding: 8rem 0;

  &__content-box {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-items: center;

    @include respond(mobile-pt) {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
  }
}

.section-exp {
  grid-column: full-start / full-end;
  padding: 6rem 0;
  background-color: $color-primary-black;
  color: $color-primary-white;

  display: grid;
  grid-template-columns: subgrid;

  &__content-box {
    grid-column: center-start / center-end;
    padding: 1.4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

    @include respond(mobile-sm) {
      padding: 0;
    }
  }

  &__content-box--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    border: 1px solid $color-zinc-500;
    padding: 1.4rem;
    border-radius: 1rem;

    transition: all 0.3s;

    &:hover {
      background-color: $color-zinc-800;
    }
  }

  &__title-box {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    flex-wrap: wrap;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
  }
}

.section-about {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 6rem 0;

  @include respond(mobile-lc) {
    grid-template-columns: 1fr;
  }

  &__img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;

    @include respond(mobile-lc) {
      width: 60%;
    }

    @include respond(mobile-pt) {
      width: 100%;
    }

    @include respond(mobile-sm) {
      width: 100%;
    }
  }

  &__content-box {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(mobile-lc) {
      align-items: center;
      text-align: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1.5rem;
  }
}

.section-projects {
  grid-column: full-start / full-end;
  background-color: $color-primary-black;
  padding: 6rem 0;

  display: grid;
  grid-template-columns: subgrid;

  &__content-box {
    grid-column: center-start / center-end;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__item {
    display: flex;
    gap: 4rem;

    &--img-box {
      flex: 1;
      padding: 2rem;
      img {
        max-width: 100%;
        max-height: auto;
        border-radius: 1rem;
      }

      @include respond(mobile-lc) {
        padding: 0;
      }
    }
    &--content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      align-items: start;
    }

    //mobile lanscape
    @include respond(mobile-lc) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__item:nth-child(odd) &__item--img-box {
    order: 2;

    @include respond(mobile-lc) {
      order: unset;
    }
  }

  &__item:nth-child(odd) &__item-content {
    order: 1;
  }
}

.section-form {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 6rem;
  padding: 6rem 0;

  @include respond(mobile-lc) {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include respond(mobile-lc) {
      order: 2;
    }
  }

  &__content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }

  &__email {
    display: block;
    margin-bottom: 1rem;
  }

  &__number {
    display: block;
  }
}
